### Begin automatically installed Phusion Passenger config snippet ###
passenger_root /usr/lib/ruby/vendor_ruby/phusion_passenger/locations.ini;
passenger_ruby {{ decidim_deployment_path }}/.rbenv/shims/ruby;
### End automatically installed Phusion Passenger config snippet ###
